*,*::before,*::after{margin: 0; padding: 0; box-sizing: border-box;}
body,html{width: 100%; height: 100%; overflow-y: hidden; overflow-x: hidden; scroll-behavior: smooth; font-family: 'Roboto', sans-serif;}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body{
    background-color: #fdfefe;
    display: flex; justify-content: center; align-items: center;

    .content{
        width: 75vw; height: 60vh;
        border: 1px solid #000;
        min-height: 600px;
        max-width: 1400px;

        .header{
            display: flex; justify-content: center; align-items: center;
            float: left; height: 30%;
            border: 1px solid #000;
            .profile{
                width: 100px; height: 100px;
                border-radius: 50px;
                background-image: url();
                background-color: rgb(177, 177, 177);
                float: left;
                margin-right: 20px;
            }
            .wrapper{
                h1{
                    font-size: 1.5vw;
                    font-weight: 600;
                }
                a{
                    h2{
                        font-size: 1.1vw;
                        font-weight: 400;
                        color: #007aff;
                        margin-top: 5px;
                        float: left;
                    }
                    svg{
                        width: 1.5vw;
                        padding-bottom: 5px;

                    }
                }
            }
        }
        #wrapper{
            width: 100%; height: 40vh;
            border: 1px solid #000;
            clear: both; height: 70%;
            
            a:nth-of-type(1){
                ap1{
                    background-color: #000;
                    width: 100px; height: 100px;
                }
            }
        }
    }
}


@media screen and (max-width: 992px) {
    body {
      background-color: #fdfefe;
      .content{
          .header{
              .profile{
                  width: 70px; height: 70px;
                  border-radius: 35px;
              }
              .wrapper{
                  h1{font-size: 2vw;}
                  a{h2{font-size: 1.5vw;}}
                  svg{display: none;}
              }
          }
      }
    }
}


@media screen and (max-width: 600px) {
    body {
      background-color: #fdfefe;
      .content{
        .header{
            .profile{
                width: 60px; height: 60px;
                border-radius: 30px;
            }
            .wrapper{
                h1{font-size: 3vw;}
                a{h2{font-size: 2.5vw;}}
                svg{display: none;}
            }
        }
       }
    }
}